<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
https://www.springframework.org/schema/context/spring-context.xsd">
    
    
    
    <context:component-scan base-package="com.bassure.springjdbc"/>
    
    <!--    <bean id = "dataSource" class = "org.apache.commons.dbcp2.BasicDataSource" destroy-method = "close">
        <property name = "driverClassName" value = "com.mysql.cj.jdbc.Driver" />
        <property name = "url" value = "jdbc:mysql://bassure.in/kalaimaran_db" />
        <property name = "username" value = "Kalai"/>
        <property name = "password" value = "Kalai@4321" />
        <property name="maxIdle" value="1"/>
        <property name="maxTotal" value="2"/>
        <property name="maxWaitMillis" value="-1"/>
    </bean>-->
        
    <bean id = "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
    
        <property name = "driverClassName" value = "com.mysql.cj.jdbc.Driver" />
        <property name = "url" value = "jdbc:mysql://bassure.in/kalaimaran_db" />
        <property name = "username" value = "Kalai" />
        <property name = "password" value = "Kalai@4321" />
    </bean>
    
    <bean id = "dummy" class = "com.bassure.springjdbc.extractor.DummyDAOImpl"  autowire="byType">
        
        
    </bean>
</beans>

