<html>
    <head>
        <title>Customer</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    </head>
    <body>
        <hr/>
        <h2 align = 'center'>Customer</h2>
        <hr/><br/><br/><br/><br/><br/><br/>
        <div align = 'center'>
<!--            <a href='deletecustomer?option=getdata' class='w3-button w3-black'><button class='w3-button w3-black'>Delete Account</button></a><br/><br/>
            <a href='viewcustomer?option=getdata' class='w3-button w3-black'><button class='w3-button w3-black'>View Profile</button></a><br/><br/>
            <a href='viewcustomer?option=paydebtprofile' class='w3-button w3-black'><button class='w3-button w3-black'>Pay Debt</button></a><br/><br/>
            <a href='updatecustomerform.html' class='w3-button w3-black'><button class='w3-button w3-black'>Update Customer</button></a><br/><br/>
            <a href='iscustomerexist' class='w3-button w3-black'><button class='w3-button w3-black'>Place Order</button></a><br/><br/>
            <a href= 'placeorder?option=orderhistory' class='w3-button w3-black'><button class='w3-button w3-black'>Order History</button></a><br/><br/>
            <a href='viewcustomer?option=logout' class='w3-button w3-black'><button class='w3-button w3-black'>log out</button></a><br/><br/>-->
            
            <a href='deletecustomer' class='w3-button w3-black'><button class='w3-button w3-black'>Delete Account</button></a><br/><br/>
            <a href='viewcustomer' class='w3-button w3-black'><button class='w3-button w3-black'>View Profile</button></a><br/><br/>
            <a href='viewcustomer?option=paydebtprofile' class='w3-button w3-black'><button class='w3-button w3-black'>Pay Debt</button></a><br/><br/>
            <a href='updatecustomerform.html' class='w3-button w3-black'><button class='w3-button w3-black'>Update Customer</button></a><br/><br/>
            <a href='iscustomerexist' class='w3-button w3-black'><button class='w3-button w3-black'>Place Order</button></a><br/><br/>
            <a href= 'placeorder?option=orderhistory' class='w3-button w3-black'><button class='w3-button w3-black'>Order History</button></a><br/><br/>
            <a href='log-out' class='w3-button w3-black'><button class='w3-button w3-black'>log out</button></a><br/><br/>

        </div>
    </body>
</html>
